*{
     margin: 0;
     padding: 0;
}
body{
     background-color: #548687;
     text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    


}
.box{
 height: 18vmin;
 width: 18vmin;
 font-size: 2rem;
 border-radius: 1rem;
 border: none;
 color:  #b0413e;
 box-shadow: 0 0 1rem rgb(0, 0,0.3);
 background-color: #ffff7c;


 
}
#rest-btn{
     padding: 1rem;
     font-family: 1.5rem;
     background-color: #191919;
     color: white;
     border: none;
     border-radius: 20px;

}
.new-gamebtn{
     padding: 1rem;
     font-family: 1.5rem;
     background-color: #191919;
     color: white;
     border: none;
     border-radius: 20px;

}
#messageP{
     font-size: 8vmin;
     color: white;
}
.messageContainer{
      height: 40vmin;
      display:flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 4vmin;
}
.hide{
     display: none;
}
.newmesg{
    height: 30vmin;
      display:flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 4vmin;


}
#draw{
     
     padding: 1rem;
     font-family: 1.5rem;
     background-color: #191919;
     color: white;
     border: none;
     border-radius: 20px;
}
#Newmsg{
      font-size: 8vmin;
     color: white;
}
.hidden{
     display: none;
}